# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
eggs/
lib/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.coverage.*

# Sphinx documentation
docs/_build/
.idea
.eggs
