Pygments==2.2.0
coverage==4.5.1
docutils==0.14
flake8==3.6.0
pydantic==0.14
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==3.9.3
pytest-cov==2.6.0
pytest-isort==0.2.1
pytest-mock==1.10.0
pytest-sugar==0.9.1
